[Unit]
Description=Internet Service
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/etc/internet/startInternet
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
